.ellipse-url-cell {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.ellipse-url-cell a {
  display: block;
  max-width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
